<script src="{{ url_for('static', filename='js/foot.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/checkout.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/directives.js') }}"></script>
<script src="{{ url_for('static', filename='js/services/apiService.js') }}"></script>
<script src="{{ url_for('static', filename='js/services/deviceGatekeeper.js') }}"></script>
<script src="{{ url_for('static', filename='js/services/localeSvc.js') }}"></script>
<script src="{{ url_for('static', filename='js/services/localTextStrings.js') }}"></script>
<script src="{{ url_for('static', filename='js/services/sessionData.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/checkout.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/headerMarketing.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/homeMinimal.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/langSelect.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/pricingPageMinimal.js') }}"></script>
