<div class="hidden" data-local-text-strings="true" style="display: none !important;">

	<div data-keyname="locale.country_code">US</div>
	<div data-keyname="login.signinButton">Login</div>
	<div data-keyname="js.headerMarketing.members">Members</div>
	<div data-keyname="js.pricingPageMinimal.purchase">purchase</div>
	<div data-keyname="js.checkout.paymentFormError">Error creating payment form:</div>
	<div data-keyname="js.checkout.paypalFormError">Error creating PayPal checkout form:</div>
	<div data-keyname="js.checkout.emailMissing">Please enter a valid email address.</div>
	<div data-keyname="js.checkout.emailInvalid">Please enter a valid email address.</div>
	<div data-keyname="js.checkout.passwordInvalid">Password must be between 6 and 30 characters.</div>
	<div data-keyname="js.checkout.paymentUnknown">Unknown payment method</div>
	<div data-keyname="js.checkout.errorReadingForm">Error reading payment form:</div>
	<div data-keyname="js.checkout.cardError">Please make sure your card number, expiration date, postal code, and cvv
		code are valid.
	</div>
	<div data-keyname="js.checkout.paymentCancelled">You have cancelled payment for this transaction.</div>
	<div data-keyname="js.checkout.cardProcessingError">There was an issue processing your credit card, please try again
		or contact us.
	</div>
	<div data-keyname="js.checkout.processorError">The card issuer has rejected the transaction. Please contact them for
		details.
	</div>
	<div data-keyname="js.checkout.paypalError">There was an issue processing your PayPal payment.</div>
	<div data-keyname="js.checkout.emailExists">You are already an OMGYes member!</div>
	<div data-keyname="checkoutPage.paypalModal.head">Order Summary</div>
	<div data-keyname="checkoutPage.paypalModal.payment">OMGyes Season One for a {0} one-time payment through PayPal</div>
	<div data-keyname="checkoutPage.paypalModal.payment.gift">The gift of OMGyes Season One. A {0} one-time payment
		through PayPal
	</div>
	<div data-keyname="checkoutPage.paypalModal.payment.paypal">??checkoutPage.paypalModal.payment.paypal_en??</div>
	<div data-keyname="checkoutPage.paypalModal.email" class="ng-binding">Your email:</div>
	<div data-keyname="checkoutPage.paypalModal.button">Finish Checkout</div>
	<div data-keyname="checkoutPage.paypalModal.redirected">You will be redirected to the members page to start
		exploring.
	</div>
	<div data-keyname="checkoutPage.paypalModal.redirected.gift">You will be redirected to the home page to continue
		exploring.
	</div>
	<div data-keyname="pricingPage.priceActual.USD">{{ displayPrice }}</div>
	<div data-keyname="label.submitting">Submitting...</div>
</div>
